%% -*- mode: erlang -*-

{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
        {basho_bench, ".*",
         {git, "git://github.com/basho/basho_bench.git", "HEAD"}},
        {riakc, ".*",
         {git, "git://github.com/basho/riak-erlang-client",
          {branch, "develop"}}},
        {cqerl, ".*",
         {git, "git://github.com/matehat/cqerl.git",
          {branch, "master"}}},
        {seestar, ".*",
         {git, "git://github.com/iamaleksey/seestar.git",
          {branch, "master"}}}
       ]
}.
