%% -*- mode: erlang -*-

{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
        {basho_bench, ".*",
         {git, "git://github.com/basho/basho_bench.git", "HEAD"}},
        {riakc, ".*",
         {git, "git://github.com/basho/riak-erlang-client",
          {branch, "develop"}}}
       ]
}.
