%% -*- erlang -*-

% ==================
% = Global options =
% ==================
{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 1}.

{code_paths, [".",
              "deps/lager",
              "deps/cqerl",
              "deps/pooler",
              "deps/semver",
              "deps/uuid"]}.

{driver, bbe_driver_cqerl_ts}.

% ==================
% = Driver options =
% ==================

{key_generator, {function, lmi_gen, str_concat,
                 ["topic_", {to_binstr, "~b", {uniform_int, 1000}}]}}.
{cassandra_timegen, {function, lmi_gen, identity,
                     [now]}}.
{cassandra_dategen, {uniform_int, 7200}}.
{cassandra_numvalgen, {uniform_int, 1000}}.

{cassandra_host, "localhost"}.
{cassandra_port, 9042}.
{cassandra_keyspace, "ts"}.
{cassandra_columnfamily, "ts"}.

{operations, [{ts_insert, 10}]}.
