%% -*- erlang -*-

% ==================
% = Global options =
% ==================
{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 1}.

{code_paths, [".",
              "deps/lager",
              "deps/cqerl",
              "deps/pooler",
              "deps/semver",
              "deps/uuid"]}.

{driver, bbe_driver_cqerl_ts}.

% ==================
% = Driver options =
% ==================

{key_generator, {function, lmi_gen, str_concat,
                 ["topic_", {to_binstr, "~b", {uniform_int, 1000}}]}}.
{cqerl_timegen, {function, lmi_gen, identity,
                 [now]}}.
{cqerl_dategen, {uniform_int, 7200}}.
{cqerl_numvalgen, {uniform_int, 1000}}.

{cqerl_host, "localhost"}.
{cqerl_port, 9042}.
{cqerl_keyspace, "ts"}.
{cqerl_columnfamily, "ts"}.
{cqerl_use_prepared, true}.

{operations, [{ts_insert, 10}]}.
