%% -*- erlang -*-

% ==================
% = Global options =
% ==================
{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 5}.

{code_paths, [".",
              "deps/lager",
              "deps/riakc"]}.

{driver, basho_bench_driver_riakclient_sets}.

% ==================
% = Driver options =
% ==================

{key_generator, {int_to_bin_littleendian, {uniform_int, 24}}}.
{value_generator, {uniform_bin, 768, 1024}}.

{riakclient_sets_ips, [{127,0,0,1}]}.
{riakclient_sets_port, 8087}.
{riakclient_sets_type, <<"sets">>}.
{riakclient_sets_bucket_prefix, <<"customer_">>}.
{riakclient_sets_bucket_max, 1000}.
{riakclient_sets_batch_size, 1}.
{riakclient_sets_replies, quorum}.

{operations, [{set_append_only, 10},
              {set_get, 2}]}.
