%% -*- erlang -*-

% ==================
% = Global options =
% ==================
{mode, max}.

{duration, 10}.
{report_interval, 1}.

{concurrent, 50}.

{code_paths, [".",
              "deps/lager",
              "deps/riakc"]}.

{driver, bbe_driver_riakc_pb_sets}.

% ==================
% = Driver options =
% ==================

{key_generator, {int_to_bin_littleendian, {uniform_int, 175200}}}.
{value_generator, {uniform_bin, 768, 4096}}.
{bucket_generator, {concat_binary, <<"customer_">>,
                    {to_binstr, "~b", {uniform_int, 1000}}}}.
{batch_size_generator, {pareto_int, 10}}.

{riakclient_sets_ips, [{127,0,0,1}]}.
{riakclient_sets_port, 8087}.
{riakclient_sets_type, <<"sets">>}.

{operations, [{set_append_only, 10},
              {set_get, 2}]}.
