%% -*- erlang -*-

% ==================
% = Global options =
% ==================
{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 20}.

{code_paths, [".",
              "deps/lager",
              "deps/riakc"]}.

{driver, basho_bench_driver_riakc_pb_lmi}.

% ==================
% = Driver options =
% ==================

{value_generator, {uniform_bin, 768, 4096}}.

{location_generator,
 {timeseries,
  {concat_binary, <<"customer_">>,
   {to_binstr, "~b", {uniform_int, 20}}},
  100}}.

{batch_size, 10}.

{riakclient_sets_ips, [{127,0,0,1}]}.
{riakclient_sets_port, 8087}.
{riakclient_sets_type, <<"sets">>}.

{operations, [{bucket_set_append, 10}]}.
